__pycache__/
*.py[cod]
build/
build_tmp/
build_latest/
build_format/
build_filter/
build_spacing/
build_banner/
build_autopost/
build_final/
build_manual/
build_wait/
build_floodfix/
build_profile/
build_cookie/
build_native/
build_news/
dist/
dist_new/
dist_latest/
dist_format/
dist_filter/
dist_spacing/
dist_banner/
dist_autopost/
dist_final/
dist_manual/
dist_wait/
dist_floodfix/
dist_profile/
dist_cookie/
dist_native/
dist_news/
test_output/
